.input-bar {
    margin-bottom: 2rem;
}

.input-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.input-bar-player {
    flex: max(1, 1, 1);
}