.pool-create-modal {}

.input-tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-tools .btn {
    margin: unset;
}

.input-tools .add-player svg {
    transform: rotate(135deg);
}

.input-tools .save-btn {}